# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# next.js build output
.next/
out/

# production
build/
dist explore/

# misc
.DS_Store
*.pem
*.log
post,
# local env files
.env
.env.local
.env.development.local
.env.test.local
. Great.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo